{% extends 'components/base.html' %}

{% load static %}
{% block content %}

<main class="main">

  <section class="owner-section">
    {% get_media_prefix as MEDIA_URL %}
    <a href="{% url 'home' %}"><img class="image" src="{% static 'img/Topo_Camara Mirim.png' %}" alt="Parlamento Jovem Brasileiro"></a>
  </section>

  {% include 'escolas-section.html' %}
  
  {% if WIKILEGIS_ENABLED %}
    {% include 'wikilegis-section.html' %}
  {% endif %}
<!-- <div class="
  {% if DISCOURSE_ENABLED %}
  {% include 'discourse-section.html' %}
  {% endif %}
  "-->


</main>

{% endblock content %}
