+{% extends 'components/base.html' %}

{% load static %}
{% block content %}

<main class="main">

  <section class="owner-section">
    <div class="firsthalf">
      <div class="logo">
        {% get_media_prefix as MEDIA_URL %}
        <img class="image" src="/static/img/Logo_PJB_2020.png" alt="Parlamento Jovem Brasileiro">
      </div>
    </div>
    <div class="secondhalf">
      <p class="briefing">Bem-vindo ao <span class="owner">edu-Democracia</span>, a plataforma virtual do <span class="owner">Parlamento Jovem Brasileiro</span>.</p>
    </div>
  </section>

  {% include 'deputados-section.html' %}
  
  {% if WIKILEGIS_ENABLED %}
    {% include 'wikilegis-section.html' %}
  {% endif %}

  {% include 'projetos-section.html' %}

  {% if AUDIENCIAS_ENABLED %}
    {% include 'audiencias-section.html' %}
  {% endif %}
  
  {% if DISCOURSE_ENABLED %}
    {% include 'discourse-section.html' %}
  {% endif %}


</main>

{% endblock content %}
