{% extends 'components/base.html' %}
{% load static %}
{% block content %}

<main class="main">

  <section class="owner-section">
    <div class="firsthalf">
      <div class="logo">
        {% get_media_prefix as MEDIA_URL %}
        <a href="{% url 'home' %}"><img class="image" src="{% static 'img/Logo_PJB_2020.png' %}" alt="Parlamento Jovem Brasileiro"></a>
      </div>
    </div>
    <div class="secondhalf">
      <p class="briefing">Bem-vindo à plataforma interativa do <span class="owner">Parlamento Jovem Brasileiro</span>. Aqui estão reunidas ferramentas legislativas que ampliam a interação entre seus participantes – e também permitem a participação da sociedade neste programa de Educação para Democracia realizado pela Câmara dos Deputados. Todas as propostas legislativas aqui apresentadas são de autoria de estudantes do Ensino Médio de selecionados para a edição 2020. 
        <a class="white-link" href="www.camara.leg.br/pjb">Entenda as ferramentas e saiba como participar da próxima seleção do PJB.</a>
        </span></p>
    </div>
  </section>
  {% block inner_content %}
  {% endblock inner_content %}
</main>
{% endblock content %}
