{% extends 'base-pjb.html' %}
{% load static %}
{% block inner_content %}

  <section class="section section--deputado">
      <div class="e-row e-expanded">
          <div class="section__info section__block e-columns small-12 large-3">
              <a href="{% url 'comissao-list'%}"><img class="section__logo" src="{% static 'img/Marca_Jovens_Deputados_COR.png' %}"></a>
              <a class="section__link-bold" href="{% url 'comissao-list' %}">
                Saiba quais são as Comissões Temáticas do PJB 2020
            </a>
          </div>
  
          <div class="section__block e-columns small-12 large-9">
              <div class="">
  
                <h1 class="section__title">{{comissao.nome}}</h1>
                <br>
                {% if comissao.presidente %}
                  <h5><b>Presidente: </b><a class="white-link" href="{% url 'deputado-detail' id=comissao.presidente.id %}"> {{comissao.presidente.nome}}</a></h5>
                {% endif %}
                {% if comissao.vice_presidente %}
                  <h5><b>Vice-presidente: </b><a class="white-link" href="{% url 'deputado-detail' id=comissao.vice_presidente.id %}"> {{comissao.vice_presidente.nome}}</a></h5>
                {% endif %}
                <h3><b>Integrantes:</b></h3>
                <div class="container container--card-list">
                    <ul class="card-list card-list--wrapped">
                        {% for deputado in comissao.integrantes.all %}
                            {% include "deputados-card.html" %}
                        {% empty %}
                        <li>
                            <div class="section__content-wrapper section__content-wrapper--center text-center">
                                <p class="section__text">
                                    Aguarde, em breve os perfis dos deputados jovens estarão aqui!
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3><b>Propostas Legislativas PJB:</b></h3>
                {% for proposta in propostas %}
                    <a href="{% url 'projeto-detail' id=proposta.id %}">
                        <h5><b>{{ proposta.sigla_tipo }} {{ proposta.numero }}/{{ proposta.ano }}</b><br/><span style="color: black">{{ proposta.tema }}</span></h5>
                    </a>
                {% endfor %}
              </div>
          </div>
  
      </div>
  </section>
{% endblock inner_content %}
