{% extends 'base-pjb.html' %}
{% load static %}
{% block inner_content %}

  <section class="section section--deputado">
      <div class="e-row e-expanded">
          <div class="section__info section__block e-columns small-12 large-3">
              <a href="{% url 'deputado-list'%}"><img class="section__logo" src="{% static 'img/Marca_Jovens_Deputados_COR.png' %}"></a>
              <p class="section__text">
                  Conheça os parlamentares selecionados para a edição 2020
              </p>
              <a class="section__link-bold" href="{% url 'comissao-list' %}">
                Saiba quais são as Comissões Temáticas do PJB 2020
            </a>
          </div>
  
          <div class="section__block e-columns small-12 large-9">
              <div class="section__alternative-content">
  
                <h1 class="section__title">Deputado(a) Jovem </br>{{deputado.nome}}</h1>
                <br>
                {% if deputado.foto %}
                <img class="pjb-card" src="{{deputado.foto.url}}"/>
                {% endif %}
                <br>
                <h5><b>{{deputado.nome}}, {{deputado.idade}} anos</b></h5>
                <h5>{{deputado.serie}} </br> {{deputado.escola}} - {{deputado.uf}}</h5>
                <h5><b>Minibio: </b>{{deputado.minibio}}</h5>
                {% if projeto %}
                    <a href="{% url 'projeto-detail' id=projeto.id %}"><h5><b>Proposta Legislativa PJB </br>{{projeto.sigla_tipo}} {{projeto.numero}}/{{projeto.ano}}</b></h5></a>
                {% endif %}
                {% if comissao %}
                    <a href="{% url 'comissao-detail' id=comissao.id %}">
                        <h5><b>{{comissao.nome}}</b></h5>
                    </a>
                {% endif %}
                
                
              </div>
          </div>
  
      </div>
  </section>
{% endblock inner_content %}
