{% load staticfiles %}

<section class="section section--pauta">
    <div class="e-row e-expanded">

      <div class="section__info section__block e-columns small-12 large-3">
        <a href="{% url 'escola-list' %}"><img class="section__logo" src="{% static 'img/Logo_Escolas e Camaras Mirins_1.png' %}" ></a>
        <p class="section__text">
          Conheça os educadores selecionados para 2020. 
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">

          <h1 class="section__title">
            <a class="section__link" href="{% url 'escola-list' %}" title="CONHEÇA NOSSOS PARCEIROS">CONHEÇA NOSSOS PARCEIROS</a>
          </h1>

          <div class="container container--card-list">

            <a class="section__button" href="{% url 'escola-list' %}">
              Ver mais >>
            </a>

            <ul class="card-list">
                {% for escola in escolas %}
                    {% include "escolas-card.html" %}
                {% empty %}
                <li>
                    <div class="section__content-wrapper section__content-wrapper--center text-center">
                        <p class="section__text">
                            Aguarde, em breve as escolas estarão aqui!
                        </p>
                    </div>
                </li>
            {% endfor %}
    
            </ul>

          </div>
        </div>
      </div>

    </div>
  </section>