{% extends 'base-pjb.html' %}
{% load static %}
{% block inner_content %}

  <section class="section section--deputado">
      <div class="e-row e-expanded">
          <div class="section__info section__block e-columns small-12 large-3">
              <a href="{% url 'comissao-list'%}"><img class="section__logo" src="{% static 'img/Marca_Jovens_Deputados_COR.png' %}"></a>
          </div>
  
          <div class="section__block e-columns small-12 large-9">
              <div class="">
                <h1 class="section__title">Mesa Diretora - Parlamento Jovem Brasileiro 2020</h1>
                <br>
                {% if mesa.presidente %}
                  <h5><b>Presidência: </b><a class="white-link" href="{% url 'deputado-detail' id=mesa.presidente.id %}"> {{mesa.presidente.nome}}</a></h5>
                {% endif %}
                {% if mesa.vice_presidente %}
                  <h5><b>Vice-presidência: </b><a class="white-link" href="{% url 'deputado-detail' id=mesa.vice_presidente.id %}"> {{mesa.vice_presidente.nome}}</a></h5>
                {% endif %}
                {% if mesa.vice_presidente %}
                  <h5><b>Primeiro(a) Secretário(a): </b><a class="white-link" href="{% url 'deputado-detail' id=mesa.primeiro_secretario.id %}"> {{mesa.primeiro_secretario.nome}}</a></h5>
                {% endif %}
                {% if mesa.vice_presidente %}
                  <h5><b>Segundo(a) Secretário(a): </b><a class="white-link" href="{% url 'deputado-detail' id=mesa.segundo_secretario.id %}"> {{mesa.segundo_secretario.nome}}</a></h5>
                {% endif %}
                <h3><b>Integrantes:</b></h3>
                <div class="container container--card-list">
                    <ul class="card-list card-list--wrapped">
                        {% for deputado in integrantes %}
                            {% include "deputados-card.html" %}
                        {% endfor %}
                    </ul>
                </div>
              </div>
          </div>
  
      </div>
  </section>
{% endblock inner_content %}
