{% load edem_extras %}

<a class="info-card__link" href="{% url 'projeto-detail' id=projeto.id %}">
  <li class="info-card info-card--enquetes-legislativas">
    <div class="info-card__header">
      <h2 class="info-card__title"><b>{{ projeto.sigla_tipo }} {{ projeto.numero }}/{{ projeto.ano }}</b></h2>
    </div>
    <p class="info-card__text">
        {{ projeto.ementa|truncatechars:145 }}<br /><br />
        <b>Autor(a): {{ projeto.autor.nome|truncatechars:26 }}</b><br /><br />
    </p>
  </li>
</a>
